.comic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 12px;
    margin: 30px;
   font-family: 'Domine', serif;
}

.cartas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
    font-size: 12px;
    font-family: 'Domine', serif;
}

.mesas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
    font-size: 12px;
    font-family: 'Domine', serif;
}
.snacks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
    font-size: 12px;
    font-family: 'Domine', serif;
}
.card img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    flex-direction: column;
    display: flex;
}

.cardimg {
    display: flex;
}

.card {
    padding: 2em;
    background-color: white;
    margin-bottom: 3em;
    margin-right: 2em;
    margin-left: 2em;
    width: 200px;
    border-radius: 20px;
    border: 5px solid #3498db;
}

.cardtext {
    max-width: 200px;
}

.insert-comic {
    display: flex;
    width: 30%;
}

.insert-cartas {
    display: flex;
    width: 30%;
}

.insert-mesas {
    display: flex;
    width: 30%;
}

.insert-snacks {
    display: flex;
    width: 30%;
}
.tarjetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2{
    margin-top: 53.12px;
    margin-bottom: 53.15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Bangers';
    font-size: 4em;
    color: white;
    text-shadow: 0px 3px 5px #3498db;
}

